
.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cadastro-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #00306079;
  text-align: center;
  width: 400px;
}

.cadastro-container h2 {
  color: #003060;
  margin-bottom: 20px;
}

.cadastro-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #34B5DF;
  border-radius: 5px;
  font-size: 16px;
}

.cadastro-container button {
  width: 100%;
  padding: 10px;
  background-color: #34B5DF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cadastro-container button:hover {
  background-color: #003060;
}

.error {
  color: red;
  margin-bottom: 10px;
}
