.agendamento{
 width: 90%;
 margin: auto;
}

.agendamento h1{
    font-size: 3rem;
    color: #34B5DF;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.agendamento p{
    font-size: 1.2rem;
    text-align: center;
}


.map{
    
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
   
    
    display: flex;
    
}

.oficinas{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
   


}
.cal{
    
  
    display: flex;
    
   
    margin-top: 2rem;
    flex-wrap: wrap;
    
    
}

.container-agendamento{
    min-height: 100vh;
}